.content-wrapper {
  min-height: 100vh;
  padding: 0.5rem 0.5rem 0.5rem;
}

.admin-content-container {
  padding-inline: 0;
}

@media (min-width: 992px) {
  .content-wrapper {
    padding: 0rem .1rem 1.45rem;
  }
}
