.content-wrapper {
  min-height: 100vh;
  padding: 0.95rem 0.95rem 1.3rem;
}

.admin-content-container {
  padding-inline: 0;
}

@media (min-width: 992px) {
  .content-wrapper {
    padding: 1rem 1.1rem 1.45rem;
  }
}
